body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #024042;
}

h1 {
    font-size: medium;
}

.container {
    text-align: center;
    background: rgb(241, 200, 200);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.purchased {
    text-decoration: line-through;
    background-color: #d3d3d3;
}

button.edit {
    background-color: #ffc107;
}

button.edit:hover {
    background-color: #e0a800;
}
